@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.topoDoSite {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cac4ca;
    position: fixed;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h1{ text-transform: uppercase;
    margin-bottom: 0;
}